
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}





.profile-card{
    background-color:beige ;
    width: 350px;
    height: 500px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid black;
    overflow: hidden;
}

img{
    width: 250px;
    height: 250px;
}


.social{
    background-color: grey;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    align-items: end;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

button{
    margin-top: 30px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;

}

button:hover{
    background-color: white;
    color: black;
}
button:active{
    scale: 200;
    animation: reverse;
}
label{
    color: red;
}
#toggle :checked ~ .profile-card{
    display: none;
}